{% extends 'base.html.twig' %}

{% block title %}Hello DiscussionController!{% endblock %}

{% block body %}

{% for discussion in discussions %}
    <div>
        <a href="/discussion/{{discussion.id}}">{{ discussion.titre }}</a>
        {{ discussion.getMessagesCount() }} message{% if discussion.getMessagesCount() >= 2 %}s{% endif %}
        <a href="/discussion_edit/{{discussion.id}}">editer</a>
    </div>
{% endfor %}

{% endblock %}
